---
import { getAllRoles } from  '../../../lib/api';
import Markdown from "astro/components/Markdown.astro";
import RoleRow from "./RoleRow.astro";
const result = await getAllRoles();

---
<style>
.table { @apply  text-gray-900 table-fixed w-full shadow-none }
.table thead { @apply border-gray-700 bg-gray-50 text-black p-2 border-y }
.table th:nth-child(1) { @apply w-1/4 } 

.table td { @apply p-2 }
</style>

<Markdown>


## Roles

</Markdown>
<table class="table text-gray-900 table-fixed w-full shadow-none">
	<thead>
		<tr>
			<th class=" p-2 w-1/4">Name</th>
			<th class=" p-2 w-1/6">Abbreviation</th>
		</tr>
	</thead>
	<tbody>
        {result.map(row => <RoleRow name={row.Name} abbreviation={row.Abbreviation} />)} 		
	</tbody>
</table>

    