---
import Content from "../components/Content.astro"
---

<html>
  <head>
    <title>HMR-PDF</title>

    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/style/interface.css" />
    <link rel="stylesheet" href="/style/global.css" />
    <script src="/js/paged.polyfill.js"></script>
  </head>

  <body>
  <Content />
  </body>
</html>
