---
import Markdown from "astro/components/Markdown.astro"
// import Resource from '../../../components/resourcing//Resource.astro';
import Resource from "../../../components/resourcing/Resource.astro"
const data = Astro.fetchContent('./md/types_of_trading.md');
const taskUpper = data[0].taskRange[0];
const taskLower = data[0].taskRange[1];
---
<div>

  <article class="prose prose-stone prose-sm">
    {data[0].astro.html}
  </article>

</div>
<Markdown>
    <Resource filterRef={[taskUpper, taskLower]} data={data[0]} />
</Markdown>